EPP.LogMode = CFGFILE
EPP.LogLevel = DEBUG
EPP.LogFile  = epp.log
EPP.LogCfgFile = epp_logconfig.xml
EPP.LogCfgFileWatch = 5000

EPP.ConTimeOut       = 50000
EPP.ClientSocketName = com.verisign.epp.transport.client.EPPSSLClientSocket
EPP.ProxyServersLocator=com.verisign.epp.transport.client.EPPConfigProxyServersLocator
EPP.ProxyServers=localhost:80,127.0.0.1:80,[::1]:80

EPP.ProxyServersRandomize=true

EPP.ServerName=localhost
# Name Store OT&E
#EPP.ServerName=otessl.verisign-grs.com
# Name Store Production 
#EPP.ServerName=namestoressl.verisign-grs.com
# SRS (COM/NET) OT&E
#EPP.ServerName=epp-ote.verisign-grs.com
# SRS (COM/NET) Production
#EPP.ServerName=epp.verisign-grs.net
# NAME OT&E
#EPP.ServerName=nameeppote.verisign-grs.com
# NAME Production
#EPP.ServerName=nameepp.verisign-grs.net

EPP.ServerPort=1700
# OT&E or Production port
#EPP.ServerPort=700

EPP.ProxyServerName=localhost
EPP.ProxyServerPot=80

EPP.SSLProtocol=TLS

#EPP.SSLEnabledProtocols=TLSv1 SSLv3
#EPP.SSLEnabledCipherSuites=

EPP.SSLKeyStore=JKS
EPP.SSLKeyFileName=/mnt/epp/keystore/testkeys
EPP.SSLPassPhrase=passphrase
#EPP.SSLKeyPassPhrase=
EPP.SSLTrustStoreFileName=/mnt/epp/keystore/testkeys
EPP.SSLTrustStorePassPhrase=passphrase
##########################################################
# Session Pool Settings
#########################################################
# Factory class for creating sessions in the pool
EPP.SessionPool.poolableClassName=com.verisign.epp.pool.EPPSessionPoolableFactory
EPP.SessionPool.clientId=username
EPP.SessionPool.password=password-123
# (Production recommended setting of 23 hours)
EPP.SessionPool.absoluteTimeout=82800000
# (Production recommended setting of 8 minutes)
EPP.SessionPool.idleTimeout=480000
EPP.SessionPool.minIdle=0
EPP.SessionPool.maxIdle=-1
EPP.SessionPool.maxActive=10
EPP.SessionPool.initMaxActive = true
EPP.SessionPool.borrowRetries = 3
EPP.SessionPool.maxWait=60000
EPP.SessionPool.timeBetweenEvictionRunsMillis=500

EPP.SessionPool.systemPools=default,test
EPP.SessionPool.test.poolableClassName=com.verisign.epp.pool.EPPSessionPoolableFactory

EPP.SessionPool.test.serverName=localhost
# Name Store OT&E
#EPP.SessionPool.test.serverName=otessl.verisign-grs.com
# Name Store Production
#EPP.SessionPool.test.serverName=namestoressl.verisign-grs.com
EPP.SessionPool.test.serverPort=1700

# TCP client host name.  If not defined, the loop back will be used
#EPP.SessionPool.test.clientHost=localhost
EPP.SessionPool.test.clientId=username
EPP.SessionPool.test.password=password-123

# (Production recommended setting of 23 hours)
EPP.SessionPool.test.absoluteTimeout=82800000
# (Production recommended setting of 8 minutes)
EPP.SessionPool.test.idleTimeout=480000

EPP.SessionPool.test.minIdle=0
EPP.SessionPool.test.maxIdle=-1
EPP.SessionPool.test.maxActive=10
EPP.SessionPool.test.initMaxActive = true
EPP.SessionPool.test.borrowRetries = 3
EPP.SessionPool.test.maxWait=60000
EPP.SessionPool.test.timeBetweenEvictionRunsMillis=500

EPP.SessionPool.test.SSLProtocol=TLS
EPP.SessionPool.test.SSLKeyStore=JKS
EPP.SessionPool.test.SSLKeyFileName=/mnt/epp/keystore/testkeys
EPP.SessionPool.test.SSLPassPhrase=passphrase

# (optional) The space delimited list of enabled SSL protocols.
#EPP.SessionPool.test.SSLEnabledProtocols=TLSv1 SSLv3

# (optional) The space delimited list of SSL cipher suites.
# Examples include: SSL_RSA_WITH_RC4_128_MD5 SSL_RSA_WITH_RC4_128_SHA
#EPP.SessionPool.test.SSLEnabledCipherSuites=

# (optional) the passphrase/password for the
# private key stored in the identity KeyStore.
#EPP.SessionPool.test.SSLKeyPassPhrase=

EPP.SessionPool.test.SSLTrustStore=JKS

# (optional) The name of the Trust Store file.
# If not defined for the pool, the default JDK Trust Store
# will be used that is located at the path
# $JAVA_HOME/lib/security/cacerts.  For
# Production it's recommended to comment this property out.
EPP.SessionPool.test.SSLTrustStoreFileName=/mnt/epp/keystore/testkeys

# (optional) The passphrase/password to access
# the Trust Store file defined by the pool SSLTrustStoreFileName property.
EPP.SessionPool.test.SSLTrustStorePassPhrase=passphrase

#EPP.SessionPool.test.SSLDebug=none

EPP.Test.clientId=ClientX
# Login password used to connect when NOT using a session pool
# Default: password-123
EPP.Test.password=password-123

# Is the test running against the Stub Server?  Valid values
# are non-defined, "true", or "false".
# Certain tests will be disabled if the tests are NOT running
# against the Stub Server.
# Default: true.
EPP.Test.stubServer=true

#########################################################
# Name of the Java Keystore containing the certificate
# and optionally the key entry for verifying and
# signing the SignedMark, respectively.
#########################################################
EPP.SignedMark.keystore=/mnt/epp/signedMark.jks
EPP.SignedMark.revokedKeystore=/mnt/epp/signedMarkRevoked.jks
EPP.SignedMark.passphrase=changeit
EPP.SignedMark.keyAlias=signedmark
EPP.SignedMark.truststore=/mnt/epp/signedMarkTrust.jks
EPP.SignedMark.crls=eppsdk.crl,tmch-pilot.crl
EPP.SignedMark.revocationList=/mnt/epp/smd-test-revocation.csv

#########################################################
# Home directory for the directory tree containing
# the sample Signed Mark Data (SMD) files.
#########################################################
EPP.SMD.dir=/mnt/epp/smds

#########################################################
# Java Truststore for certificates used in signing the codes.
#########################################################
EPP.VerificationCode.truststore=/mnt/epp/verificationCode.jks
EPP.VerificationCode.revocationList=verification-code-test-revocation.csv


EPP.ServerSocketName = com.verisign.epp.transport.server.EPPSSLServer

############################################################
# List of fully qualified EPP Mapping Factory class names.  There
# is one EPP Mapping Factory per EPP Command Mapping defined
# in the EPP Codec package (com.verisign.epp.codec).
############################################################
EPP.MapFactories = \
	com.verisign.epp.codec.host.EPPHostMapFactory \
	com.verisign.epp.codec.domain.EPPDomainMapFactory \
	com.verisign.epp.codec.contact.EPPContactMapFactory \
	com.verisign.epp.codec.lowbalancepoll.EPPLowBalancePollMapFactory \
	com.verisign.epp.codec.rgppoll.EPPRgpPollMapFactory \
	com.verisign.epp.codec.suggestion.EPPSuggestionMapFactory \
 	com.verisign.epp.codec.whowas.EPPWhoWasMapFactory \
	com.verisign.epp.codec.balance.EPPBalanceMapFactory \
    com.verisign.epp.codec.registry.EPPRegistryMapFactory \
    com.verisign.epp.codec.emailFwd.EPPEmailFwdMapFactory \
	com.verisign.epp.codec.defReg.EPPDefRegMapFactory \
	com.verisign.epp.codec.nameWatch.EPPNameWatchMapFactory \
	com.verisign.epp.codec.idntable.EPPIdnTableMapFactory \
	com.verisign.epp.codec.nv.EPPNameVerificationMapFactory \
	com.verisign.epp.codec.reseller.EPPResellerMapFactory
	

EPP.ProtocolExtensions=

EPP.CmdRspExtensions= \
	com.verisign.epp.codec.namestoreext.EPPNamestoreExtExtFactory \
	com.verisign.epp.codec.rgpext.EPPRgpExtFactory \
	com.verisign.epp.codec.syncext.EPPSyncExtFactory \
	com.verisign.epp.codec.idnext.EPPIdnExtFactory \
	com.verisign.epp.codec.whois.EPPWhoisExtFactory \
	com.verisign.epp.codec.jobscontact.EPPJobsContactExtFactory \
	com.verisign.epp.codec.secdnsext.v10.EPPSecDNSExtFactory \
	com.verisign.epp.codec.secdnsext.v11.EPPSecDNSExtFactory \
	com.verisign.epp.codec.premiumdomain.EPPPremiumDomainExtFactory \
	com.verisign.epp.codec.coaext.EPPCoaExtFactory \
	com.verisign.epp.codec.persreg.EPPPersRegExtFactory \
	com.verisign.epp.codec.launch.EPPLaunchExtFactory \
	com.verisign.epp.codec.relateddomainext.EPPRelatedDomainExtFactory \
	com.verisign.epp.codec.allocationtoken.EPPAllocationTokenExtFactory \
	com.verisign.epp.codec.fee.v06.EPPFeeExtFactory \
	com.verisign.epp.codec.fee.v07.EPPFeeExtFactory \
	com.verisign.epp.codec.fee.v08.EPPFeeExtFactory \
	com.verisign.epp.codec.fee.v09.EPPFeeExtFactory \
	com.verisign.epp.codec.changepoll.EPPChangePollExtFactory \
	com.verisign.epp.codec.idnmap.EPPIdnMapExtFactory \
	com.verisign.epp.codec.verificationcode.EPPVerificationCodeExtFactory \
	com.verisign.epp.codec.resellerext.EPPResellerExtFactory


############################################################
# List of fully qualified EPP Event Handler class names.  There
# is one EPP Event Handler per EPP Command Mapping defined
# in the EPP Codec package (com.verisign.epp.codec).
############################################################
EPP.ServerEventHandlers = \
	com.verisign.epp.serverstub.GenHandler \
	com.verisign.epp.serverstub.NamestoreExtHostHandler \
	com.verisign.epp.serverstub.NSDomainHandler \
	com.verisign.epp.serverstub.SuggestionHandler \
	com.verisign.epp.serverstub.JobsContactHandler \
	com.verisign.epp.serverstub.WhoWasHandler \
	com.verisign.epp.serverstub.BalanceHandler \
    com.verisign.epp.serverstub.RegistryHandler \
    com.verisign.epp.serverstub.PersRegEmailFwdHandler \
	com.verisign.epp.serverstub.DefRegHandler \
	com.verisign.epp.serverstub.NameWatchHandler \
	com.verisign.epp.serverstub.IdnTableHandler \
	com.verisign.epp.serverstub.NameVerificationHandler \
	com.verisign.epp.serverstub.ResellerHandler
	
############################################################
# List of fully qualified EPP Poll Handler class names.  There
# is one EPP Poll Handler per EPP Command Mapping defined
# in the EPP Codec package (com.verisign.epp.codec) that
# supports Poll messages.
############################################################
EPP.PollDataSource=com.verisign.epp.serverstub.PollDataSource
EPP.PollHandlers= \
	com.verisign.epp.serverstub.NSPollHandler \
	com.verisign.epp.serverstub.DomainPollHandler \
	com.verisign.epp.serverstub.RgpDomainPollHandler \
	com.verisign.epp.serverstub.LowBalancePollHandler \
	com.verisign.epp.serverstub.ContactPollHandler \
	com.verisign.epp.serverstub.LaunchPollHandler \
	com.verisign.epp.serverstub.NameVerificationPollHandler
	

############################################################
# Fully qualified EPP Assembler name.  This is optional and
# is provided for overrididing the default which is
# com.verisign.epp.framework.EPPXMLAssembler
############################################################
#EPP.ServerAssembler=com.verisign.epp.framework.EPPXMLAssembler

#javax.net.debug=all
javax.net.debug=none

##########################################################
# PoolMan - Client XML Parser Pool
#
# default options:
#
# initialObjects=1
# minimumSize=0
# maximumSize=Integer.MAX_VALUE
# maximumSoft=true
# objectTimeout=1200 (seconds)
# userTimeout=1200 (seconds)
# skimmerFrequency=660 (seconds)
# shrinkBy=5
# logFile=PoolMan.Client.log
# debugging=false
#########################################################
PoolMan.Client.logFile=/mnt/logs/clientpool.log
PoolMan.Client.initialObjects=5
PoolMan.Client.minimumSize=5
PoolMan.Client.debugging=true

##########################################################
# PoolMan - Server XML Parser Pool
#
# default options:
#
# initialObjects=1
# minimumSize=0
# maximumSize=Integer.MAX_VALUE
# maximumSoft=true
# objectTimeout=1200 (seconds)
# userTimeout=1200 (seconds)
# skimmerFrequency=660 (seconds)
# shrinkBy=5
# logFile=PoolMan.Server.log
# debugging=false
#########################################################
PoolMan.Server.logFile=/mnt/logs/serverpool.log
PoolMan.Server.initialObjects=10
PoolMan.Server.minimumSize=10
PoolMan.Server.debugging=true

##########################################################
# PoolMan - XML Signature Parser Pool
#
# default options:
#
# initialObjects=1
# minimumSize=0
# maximumSize=Integer.MAX_VALUE
# maximumSoft=true
# objectTimeout=1200 (seconds)
# userTimeout=1200 (seconds)
# skimmerFrequency=660 (seconds)
# shrinkBy=5
# logFile=PoolMan.XMLSignature.log
# debugging=false
#########################################################
PoolMan.XMLSignature.logFile=/mnt/logs/xmlsignaturepool.log
PoolMan.XMLSignature.initialObjects=10
PoolMan.XMLSignature.minimumSize=10
PoolMan.XMLSignature.debugging=true


EPP.Validating=true
EPP.FullSchemaChecking=true

EPP.MaxPacketSize = 355000
